version: '3.8'

services:
  app:
    image: kemel91/resize:latest
    ports:
      - "9501:9501"

  angie:
    build:
      dockerfile: Dockerfile
      context: ./
      target: angie
    container_name: resizer-angie
    ports:
      - "80:9501"

  redis:
    image: redis:8.2.2-bookworm
    container_name: resizer-redis
    command: --save 60 1
    restart: always
    ports:
      - "6379:6379"