version: '3.8'

services:
  app:
    image: kemel91/resize:latest
    container_name: resizer-app
    ports:
      - "9501:9501"

  angie:
    image: kemel91/resize-backend-angie:latest
    container_name: resizer-angie
    ports:
      - "80:80"
      - "443:443"

  redis:
    image: redis:8.2.2-bookworm
    container_name: resizer-redis
    command: --save 60 1
    restart: always
    ports:
      - "6379:6379"