version: '3.8'

services:
  app:
    image: kemel91/resize:latest
    ports:
      - "80:9501"
    volumes:
      - ./config/php.ini:/etc/php83/conf.d/local.ini

  redis:
    image: redis:8.2.2-bookworm
    container_name: resizer-redis
    command: --save 60 1
    restart: always
    ports:
      - "6379:6379"