version: '3.8'

services:
  app:
    build:
      dockerfile: Dockerfile
      context: ./
      target: local
    container_name: resizer-backend
    ports:
      - "9501:9501"
    volumes:
      - ./backend:/var/www/html

  redis:
    image: redis:8.2.2-bookworm
    container_name: resizer-redis
    command: --save 60 1
    restart: always
    ports:
      - "6379:6379"